[submodule "QualityAssurance/FFC-MeterImpConverter"]
	path = QualityAssurance/FFC-MeterImpConverter
	url = https://github.com/Pakkerman/FFC-MeterImpConverter
[submodule "DataVisualization/FFC-BarChart"]
	path = DataVisualization/FFC-BarChart
	url = https://github.com/Pakkerman/FFC-BarChart
[submodule "DataVisualization/FFC-ScatterplotGraph"]
	path = DataVisualization/FFC-ScatterplotGraph
	url = https://github.com/Pakkerman/FFC-ScatterplotGraph
[submodule "DataVisualization/FFC-HeatMap"]
	path = DataVisualization/FFC-HeatMap
	url = https://github.com/Pakkerman/FFC-HeatMap
[submodule "DataVisualization/FFC-ChoroplethMap"]
	path = DataVisualization/FFC-ChoroplethMap
	url = https://github.com/Pakkerman/FFC-ChoroplethMap
[submodule "DataVisualization/FFC-TreemapDiagram"]
	path = DataVisualization/FFC-TreemapDiagram
	url = https://github.com/Pakkerman/FFC-TreemapDiagram
[submodule "QualityAssurance/FFC-IssueTracker"]
	path = QualityAssurance/FFC-IssueTracker
	url = https://github.com/Pakkerman/FFC-IssueTracker
[submodule "QualityAssurance/FFC-Library"]
	path = QualityAssurance/FFC-Library
	url = https://github.com/Pakkerman/FFC-Library
[submodule "QualityAssurance/FFC-SudokuSolver"]
	path = QualityAssurance/FFC-SudokuSolver
	url = https://github.com/Pakkerman/FFC-SudokuSolver
[submodule "QualityAssurance/FFC-AmericanBritishEnglishTranslator"]
	path = QualityAssurance/FFC-AmericanBritishEnglishTranslator
	url = https://github.com/Pakkerman/FFC-AmericanBritishEnglishTranslator
